/* Styling for the Header and Navigation */
.Header{
    width: 100%;
    background-color: aqua;
    display: flex;
}




/* toggle styling and logic */
.input{
    display: none;
}
.toggle_dark{
   
   display: none;
}
.input:checked ~ .toggle_light{
    display: none;
}
.input:checked ~ .toggle_dark{
    display:contents;
}





