
/* CSS for the light and dark mode switch*/

.toggle-container{
    margin: 0 2rem 0 0;
}

.toggle{
    visibility: hidden;
    position: absolute; 
}

.toggle + .toggle-label{
    display: flex;
}

.toggle-label::before{
    content:" ";
    width:2.5rem;
    height: 1.5rem;
    background-color: var(--COLOUR-ONE);
}
.toggle-label::after{
    content: " ";
    width:1.20rem;
    height: 1.3rem;
    background-color: var(--COLOUR-TWO);
    position: absolute;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    transition: 0.1s ease-in-out;
}

.toggle:checked + .toggle-label::after{
    transform: translateX(93%);
    transition: 0.1s ease-in-out;
}

