

/* Styles for the links in the header section*/
.links{
    display: flex;
    flex-direction: row;
}

.Page-Link{
    font-size: 1.2rem;
    width: fit-content;
    color: var(--COLOUR-ONE);
    padding: 0.5rem;
    text-decoration: none;
    margin: 0 1rem;
}

.link-one{
    border-bottom: 2px solid var(--COLOUR-ONE);
}

.Page-Link:hover{
    border-bottom: 2px solid var(--COLOUR-ONE);
    transition: 0.09s ease-in-out
}



