
.title{
    width: fit-content;
    text-align: center;

}

.headline-2{
    text-decoration: none;
    width: fit-content;
    min-width: 30rem;
    color: var(--COLOUR-THREE);
    font-size: 1.5rem;
    border-bottom: 1px solid var(--COLOUR-ONE);
    text-align: center;
    line-height: 2.5rem;
    font-weight: 700;
    opacity: 0%;
}