.searchpage{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mainsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.mainsectionsearch{
    padding-bottom: 3rem;
}
@media screen and (max-width:425px) {
    .mainsectionsearch{
        padding-bottom: 1.5rem;
    }
    
}