/* Global styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root{

  /* Colour Scheme */
  --COLOUR-ONE: #2e3532;
  --COLOUR-TWO: #d3efbd;
  --COLOUR-THREE: #8b2635;
  --COLOUR-FOUR: #d2d4c8;

  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: clamp(1rem,2.5vw,1.5625rem);
  --font-size-4:clamp(1.25rem,5vw,2.1875rem);/*2.1875rem;*/
}
*,::before,::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--COLOUR-ONE);
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

#root{
  height: 100vh;
}


